.aboutText {
    text-align: justify;
}

.disclaimerText {
  font-weight: bold;
}

.note {
    font-style: italic;
}

.stress {
    font-weight: bold;
}

.thatsIt {
    text-align: center;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.normalSizeImg {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  max-width: 300px;
  min-width: 100px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.largeImg {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  max-width: 600px;
  min-width: 300px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h6 {
  font-style: italic;
  font-weight: bold;
}
